modem.img
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/WebViewGoogle/WebViewGoogle.apk
vendor/lib64/camera/components/com.qti.node.mialgocontrol.so
system/system/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/apex/com.android.vndk.current.apex
system/system/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
system_ext/priv-app/Settings/Settings.apk
boot.img
